<%= form_for(@move) do |f| %>
  <% if @move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
      <% @move.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_id %><br />
    <%= f.text_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :unit_type %><br />
    <%= f.text_field :unit_type %>
  </div>
  <div class="field">
    <%= f.label :start_point_id %><br />
    <%= f.text_field :start_point_id %>
  </div>
  <div class="field">
    <%= f.label :end_point_id %><br />
    <%= f.text_field :end_point_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
