<p id="notice"><%= notice %></p>

<p>
  <b>Match:</b>
  <%= @move.match_id %>
</p>

<p>
  <b>Unit type:</b>
  <%= @move.unit_type %>
</p>

<p>
  <b>Start point:</b>
  <%= @move.start_point_id %>
</p>

<p>
  <b>End point:</b>
  <%= @move.end_point_id %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
