<p id="notice"><%= notice %></p>

<p>
  <b>Match:</b>
  <%= @turn.match_id %>
</p>

<p>
  <b>Order:</b>
  <%= @turn.order %>
</p>


<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
